/* Använder er av CSS-variabler för alla färger och typsnittsstorlekar (vad ni döper variablerna till är upp till er). */

:root {
    /* colors */
    --black: #050505;
    --lighterBlack: #121212;
    --blackGray: #353535;
    --darkGray: #666666;
    --gray: #7f7f7f;
    --lightGray: #999999;
    --darkWhite: #e5e5e5;
    --white: #f4f4f4;
    --blue: #087fe7;
    /* box shadow */
    --boxShadow1: rgba(0, 0, 0, 0.1);
    --boxShadow2: rgba(0, 0, 0, 0.2);
}

/* --- Tailwinds --- */
/* -- font-weight -- */
.fw650 {
    font-weight: 650;
}

.fw550 {
    font-weight: 550;
}

.fw450 {
    font-weight: 450;
}

.fw400 {
    font-weight: 400;
}

.fw320 {
    font-weight: 320;
}

/* -- font-size -- */
.fs53 {
    font-size: 53px;
}

.fs45 {
    font-size: 45px;
}

.fs36 {
    font-size: 36px;
}

.fs26 {
    font-size: 26px;
}

.fs24 {
    font-size: 24px;
}

.fs18 {
    font-size: 18px;
}

.fs15 {
    font-size: 15px;
}

.fs14 {
    font-size: 14px;
}

.fs13_5 {
    font-size: 13.5px;
}

.fs13 {
    font-size: 13px;
}

.fs12 {
    font-size: 12px;
}

/* -- text etc. -- */
.taC {
    text-align: center;
}

.taL {
    text-align: left;
}

.td1 {
    text-decoration: 1px solid black;
}

/* -- flex -- */
.flexContainer {
    display: flex;
}

.flexItem {
    flex: 1 1 0;
}

.jcC {
    justify-content: center;
}

.jcSB {
    justify-content: space-between;
}

.fdC {
    flex-direction: column;
}

.aiC {
    align-items: center;
}

/* -- margin -- */
.mt50 {
    margin-top: 50px;
}

.mr50 {
    margin-right: 50px;
}

.mb50 {
    margin-bottom: 50px;
}

.ml50 {
    margin-left: 50px;
}

/* -- padding -- */
.pt50 {
    padding-top: 50px;
}

.pr50 {
    padding-right: 50px;
}

.pb50 {
    padding-bottom: 50px;
}

.pl50 {
    padding-left: 50px;
}

/* -- border -- */
.bVer {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.bHor {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}



@font-face {
    font-family: Inter;
    src: url(../fonts/Inter.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui !important;
    text-decoration: none;
    color: black;
}

body {
    padding: 0 15px;
}

main {
    max-width: 1000px;
    margin: auto;
}

a.topMenuItem {
    color: black;
    text-decoration: none;
    padding: 5px 7px;
}

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: #777 solid 1px;
}

nav#topMenu {
    width: 100%;

    display: flex;
    gap: 15px
}

.topMenuItem img {
    margin: 1px 3px;
}

#topMenuLogo {
    width: 100px;
    margin-right: 10px;
}

nav.topMenuItem {
    display: block;
    padding: 15px 25px;
    color: #777;
    background-color: darkgrey;
}

nav.subMenu {
    display: none;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerLeft a {
    text-decoration: none;
    color: black;
}

a.topMenuItem:hover {
    background-color: #cccccc;
    border-radius: 5px;
}

.getBarky {
    background-color: var(--lighterBlack);
    color: var(--white) !important;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}

.intro {
    display: flex;
    margin-top: 50px;
}

.intro img,
.introText {
    flex: 1 1 0;
}

.intro img {
    width: 500px;
}

.introText p {
    margin-bottom: 20px;
}

.vl {
    border: 1px solid #777;
    height: 20px;
    opacity: 0.5;
}

.businessLogos {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
    border-top: 1px solid black;
    padding-top: 25px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
    padding-bottom: 25px;
}

.businessLogos img {
    height: 25px;
}

.usp {
    margin-bottom: 50px;
}

.uspText {
    width: 49%;
}

.uspImg {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px 20px;
    margin: 35px 0;
}

.uspQuote {
    text-align: center;
    font-size: 37px;
    color: darkgray;
    font-weight: bold;
}


.uspQuoter {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 50px;
}

.uspQuoterImg {
    height: 100%;
    margin-right: 10px;
}

.uspQuoterInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uspQuoterTitle {
    color: darkgray;
    font-size: 13px;
}


.getStarted {
    text-align: center;
    margin: 50px auto;
    width: 55%;

}

.getStarted table {
    background: lightgray;
    width: 100%;
    padding: 15px;
    border-spacing: 0;
}

#tableFeature {
    font-weight: normal;
}

#tableCheck {
    font-weight: 500;
}

.getStarted table img {
    width: 20px;
}

.tableRight {
    text-align: right;
}

.tableLeft {
    text-align: left;
}

.getStarted table td {
    border-top: thin solid;
    /* border-bottom: 1px solid black; */
    padding: 5px 0;
}

.getStarted table tr:last-of-type {
    border: none;
}

.teams {
    text-align: center;
}

.teamsInfo {
    display: flex;
}

.teamsInfoItem {
    flex-grow: 1;
    flex-basis: 0;
}

.teamsInfoItem:nth-of-type(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.teams {
    margin-bottom: 50px;
}

.statsRating img {
    height: 200px
}


.footerLine {}

footer {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.footerInfo img {
    width: 150px;
}

.footerShare img {
    width: 25px;
}