:root {
    /* colors */
    --colorA: #050505;
    --colorB: #121212;
    --colorC: #353535;
    --colorD: #666666;
    --colorE: #7f7f7f;
    --colorF: #999999;
    --colorG: #e5e5e5;
    --colorH: #f4f4f4;
    --colorI: #087fe7;
    /* box shadow */
    --boxShadowA: rgba(0, 0, 0, 0.1);
    --boxShadowB: rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui;
    text-decoration: none;
    color: var(--colorA);
}

body {}

/* --- Header --- */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    height: 50px;
    border-bottom: var(--colorG) solid 2px;
    margin: 0 10px;
    padding: 0 7px;
}

.headerLeft,
.headerRight {
    gap: 5px;
}

#navLogo {
    height: 22px;
    margin-right: 10px;
}

nav {
    gap: 15px
}

a.navLink {
    padding: 5px 7.5px !important;
}

a.navLink:hover {
    background-color: var(--colorH);
    border-radius: 3px;
}

.navLink img {
    margin: 1px 3px;
}

#vl {
    border: 1px solid var(--colorG);
    height: 17px;
}

a.getBarky {
    display: inline-block;
    background-color: var(--colorB);
    color: white;
    padding: 9px 15px;
    border-radius: 3px;
    box-shadow: 0px 1px 7px 1px var(--boxShadowA);
}

a.getBarky:hover {
    background-color: var(--colorC) !important;
}

/* --- Main --- */

main {
    max-width: 1000px;
    margin: auto;
    padding-top: 130px;
}

.introText p {
    margin-bottom: 20px;
}

.businessLogos {
    flex-wrap: wrap;
    gap: 25px;
    border-top: 2px solid var(--colorG);
    padding-top: 25px;
    border-bottom: 2px solid var(--colorG);
    padding-bottom: 25px;
    margin: 80px 0 80px 0;
}

.businessLogos img {
    height: 25px;
}








.uspText {
    width: 49%;
}

.uspImg {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px 20px;
    margin: 35px 0;
}

.uspQuote {
    text-align: center;
    font-size: 37px;
    color: darkgray;
    font-weight: bold;
}


.uspQuoter {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 50px;
}

.uspQuoterImg {
    height: 100%;
    margin-right: 10px;
}

.uspQuoterInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uspQuoterTitle {
    color: darkgray;
    font-size: 13px;
}


.getStarted {
    text-align: center;
    margin: 50px auto;
    width: 55%;

}

.getStarted table {
    background: lightgray;
    width: 100%;
    padding: 15px;
    border-spacing: 0;
}

#tableFeature {
    font-weight: normal;
}

#tableCheck {
    font-weight: 500;
}

.getStarted table img {
    width: 20px;
}

.tableRight {
    text-align: right;
}

.tableLeft {
    text-align: left;
}

.getStarted table td {
    border-top: thin solid;
    /* border-bottom: 1px solid black; */
    padding: 5px 0;
}

.getStarted table tr:last-of-type {
    border: none;
}

.teams {
    text-align: center;
}

.teamsInfo {
    display: flex;
}

.teamsInfoItem {
    flex-grow: 1;
    flex-basis: 0;
}

.teamsInfoItem:nth-of-type(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.teams {
    margin-bottom: 50px;
}

.statsRating img {
    height: 200px
}


.footerLine {}

footer {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding-right: 200px;
}

.footerInfo img {
    width: 150px;
}

.footerShare img {
    width: 25px;
}

.footerSection {
    line-height: 1.8;
    /* text-align: left; */
    display: flex;
    flex-direction: column;
}

.footerSection a {
    display: inline-block;
    align-self: flex-start;
}

.footerSectionText {
    font-weight: 800;
}







/* --- Tailwinds --- */
/* -- font-weight -- */
.fw650 {
    font-weight: 650;
}

.fw550 {
    font-weight: 550;
}

.fw450 {
    font-weight: 450;
}

.fw400 {
    font-weight: 400;
}

.fw320 {
    font-weight: 320;
}

/* -- font-size -- */
.fs53 {
    font-size: 53px;
}

.fs45 {
    font-size: 45px;
}

.fs36 {
    font-size: 36px;
}

.fs26 {
    font-size: 26px;
}

.fs24 {
    font-size: 24px;
}

.fs18 {
    font-size: 18px;
}

.fs15 {
    font-size: 15px;
}

.fs14 {
    font-size: 14px;
}

.fs13_5 {
    font-size: 13.5px;
}

.fs13 {
    font-size: 13px;
}

.fs12 {
    font-size: 12px;
}

/* -- text etc. -- */
.taC {
    text-align: center;
}

.taL {
    text-align: left;
}

/* .td1 {
    text-decoration: 1px solid black;
} */

.ulLink {
    text-decoration: underline;
}

/* -- flex -- */
.flexContainer {
    display: flex;
}

.flexItem {
    flex: 1 1 0;
}

.jcC {
    justify-content: center;
}

.jcSB {
    justify-content: space-between;
}

.fdC {
    flex-direction: column;
}

.aiC {
    align-items: center;
}

/* -- margin -- */
.mt100 {
    margin-top: 100px;
}

.mt50 {
    margin-top: 50px;
}

.mt10 {
    margin-top: 10px;
}

.mb100 {
    margin-bottom: 100px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb10 {
    margin-bottom: 10px;
}


/* -- padding -- */
.pt50 {
    padding-top: 50px;
}

.pt10 {
    padding-top: 10px;
}


.pb50 {
    padding-bottom: 50px;
}

.pb10 {
    padding-bottom: 10px;
}

/* -- width -- */
.w100 {
    width: 100%;
}

/* -- color -- */
.colorA {
    color: var(--colorA);
}

.colorB {
    color: var(--colorB);
}

.colorC {
    color: var(--colorC);
}

.colorD {
    color: var(--colorD);
}

.colorE {
    color: var(--colorE);
}

.colorF {
    color: var(--colorF);
}

.colorG {
    color: var(--colorG);
}

.colorH {
    color: var(--colorH);
}

.colorI {
    color: var(--colorI);
}


/* -- border -- */
.bVer {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.bHor {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}