@font-face {
    font-family: Inter;
    src: url(assets/Inter.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui;
    text-decoration: none;
    color: var(--colorA);
}

/* --- Header --- */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    height: 50px;
    border-bottom: var(--colorG) solid 2px;
    margin: 0 15px;
}

nav,
.headerRight {
    gap: 5px;
}

#navLogo {
    height: 22px;
}

.navLink {
    padding: 5px 7.5px !important;
}

.navLink:hover {
    background-color: var(--colorH);
    border-radius: 3px;
}

.navLink img {
    margin: 1px 3px;
}

#vl {
    border: 1px solid var(--colorG);
    height: 17px;
}

a.getBarky {
    display: inline-block;
    background-color: var(--colorB);
    color: white;
    padding: 9px 15px;
    border-radius: 3px;
    box-shadow: 0px 1px 7px 1px var(--boxShadowA);
}

a.getBarky:hover {
    background-color: var(--colorC) !important;
}

#mobileNav {
    display: none;
}

/* --- Main --- */

main {
    max-width: 1000px;
    padding: 130px 15px 0;
}

#intro img {
    width: 50%;
}

.introText p {
    margin-bottom: 20px;
    margin-right: 35px;
}

.businessLogos {
    flex-wrap: wrap;
    gap: 25px;
    border-top: 2px solid var(--colorG);
    padding-top: 25px;
    border-bottom: 2px solid var(--colorG);
    padding-bottom: 25px;
    margin: 80px 0 80px 0;
}

.businessLogos img {
    height: 25px;
}

/* -- USPs -- */

.uspText {
    width: 47%;
}

.uspImg {
    box-shadow: 0px 1px 15px 3px var(--boxShadowB);
}

.uspQuote {
    padding: 0 17px;
    margin-bottom: 15px;
}

.uspQuoter {
    height: 50px;
}

.uspQuoterImg {
    height: 100%;
}

/* -- Get Started (Sektion 6) -- */
#getStartedBorder {
    border-top: 1px solid var(--colorG);
    border-bottom: 1px solid var(--colorG);
}

#getStarted {
    width: 60%;
}

#getStarted table {
    margin-top: 40px;
    background: var(--colorH);
    width: 100%;
    padding: 25px;
    border-spacing: 0;
    border-radius: 6px;
}

.tableRight {
    text-align: right;
}

.tableLeft {
    text-align: left;
}

#getStarted table td {
    border-top: 1px solid var(--colorG);
    color: var(--colorD);
    padding: 10px 0;
}

#getStarted table th {
    padding: 0 0 10px;
}

#getStarted table img {
    height: 15px;
}

/* -- Teams (Sektion 7) -- */

.teamsInfo {
    margin-top: 30px;
}

.teamsInfoItem p {
    padding: 0 30px;
}

/* -- Statistics (Sektion 8) -- */
.statsRating {
    gap: 20px;
}

.statsRating img {
    width: 50%;
}

.statsBorder {
    border-right: 1px solid var(--colorG);
}

/* -- Footer -- */

.footerLine {
    border-top: 2px solid var(--colorG);
    margin: 0 15px;
}

footer {
    max-width: 1200px;
    padding-right: 100px;
    display: grid;
    grid-template: auto / 3fr 9fr;
    grid-gap: 50px;
}

.footerLinks {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    grid-gap: 30px;
}

.footerInfo img {
    width: 150px;
}

.footerShare {
    width: 150px;
}

.footerShare img {
    width: 25px;
}

.footerSection {
    line-height: 1.8;
}

.footerSection a:hover {
    text-decoration: underline;
}


/* --- Media Queries --- */
@media (max-width: 1080px) {

    header .headerLeft nav a,
    header .headerRight .navLink,
    #vl {
        display: none;
    }

    #mobileNav {
        display: block;
    }

    #mobileNav img {
        height: 28px;
        margin-top: 4px;
    }

    .headerRight .getBarky {
        display: inline-block !important;
        position: absolute;
        right: 40px;
    }
}

@media (max-width: 600px) {
    header {
        position: static;
        border: none;
    }

    .headerRight .getBarky {
        display: none !important;
    }

    .introText h1 {
        font-size: 36px;
    }

    .introText p,
    .uspQuote {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }

    main {
        padding: 75px 0 0;
        margin: 0 25px !important;
        text-align: center;
    }

    #intro {
        flex-direction: column-reverse;
    }

    #intro img {
        width: 90%;
    }

    .uspText {
        width: 100%;
    }

    p.uspQuote {
        font-size: 24px;
    }

    .uspQuoter .uspQuoterInfo {
        text-align: left;
    }

    #getStarted {
        width: 100%;
    }

    .teamsInfo {
        flex-direction: column;
    }

    .teamsInfo .bVer {
        border: none;
    }

    .teamsInfo {
        gap: 40px;
    }

    .teamsInfoItem h3 {
        font-size: 18px;
    }

    .statsRating {
        flex-direction: column;
        text-align: left;
    }

    .statsRating img {
        width: 100%;
    }

    .statsRating h3 {
        font-size: 24px;
    }

    .stats {
        flex-direction: column;
        gap: 40px;
    }

    .statsItem {
        border: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 0;
    }

    .footerShare {
        margin-bottom: 25px !important;
    }

    .footerLine {
        padding: 0 10px;
    }

    .footerLinks {
        grid-template: repeat(2, auto) / repeat(2, 1fr);
        grid-gap: 20px;
    }
}


/* --- Styling Classes --- */

/* -- font-weight -- */
.fw650 {
    font-weight: 650;
}

.fw550 {
    font-weight: 550;
}

.fw450 {
    font-weight: 450;
}

.fw400 {
    font-weight: 400;
}

.fw320 {
    font-weight: 320;
}

/* -- font-size -- */
.fs53 {
    font-size: 53px;
}

.fs45 {
    font-size: 45px;
}

.fs36 {
    font-size: 36px;
}

.fs26 {
    font-size: 26px;
}

.fs24 {
    font-size: 24px;
}

.fs18 {
    font-size: 18px;
}

.fs15 {
    font-size: 15px;
}

.fs14 {
    font-size: 14px;
}

.fs13_5 {
    font-size: 13.5px;
}

.fs13 {
    font-size: 13px;
}

.fs12 {
    font-size: 12px;
}

/* -- text etc. -- */
.taC {
    text-align: center;
}

.taL {
    text-align: left;
}

.taR {
    text-align: right;
}

.tdU {
    text-decoration: underline;
}

.hoverBlue:hover {
    color: var(--colorI);
    text-decoration-color: var(--colorA);
}

/* -- flex -- */
.flexContainer {
    display: flex;
}

.flexItem {
    flex: 1 1 0;
}

.jcC {
    justify-content: center;
}

.jcSB {
    justify-content: space-between;
}

.fdC {
    flex-direction: column;
}

.aiC {
    align-items: center;
}

/* -- margin -- */
.mA {
    margin: auto;
}

.mt100 {
    margin-top: 100px;
}

.mt75 {
    margin-top: 75px;
}

.mt50 {
    margin-top: 50px;
}

.mt25 {
    margin-top: 25px;
}

.mt10 {
    margin-top: 10px;
}

.mb100 {
    margin-bottom: 100px;
}

.mb75 {
    margin-bottom: 75px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr10 {
    margin-right: 10px;
}


/* -- padding -- */
.pt50 {
    padding-top: 50px;
}

.pt10 {
    padding-top: 10px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb10 {
    padding-bottom: 10px;
}

.pr15 {
    padding-right: 15px;
}

/* -- width -- */
.w100 {
    width: 100%;
}

/* -- color -- */
.colorA {
    color: var(--colorA);
}

.colorB {
    color: var(--colorB);
}

.colorC {
    color: var(--colorC);
}

.colorD {
    color: var(--colorD);
}

.colorE {
    color: var(--colorE);
}

.colorF {
    color: var(--colorF);
}

.colorG {
    color: var(--colorG);
}

.colorH {
    color: var(--colorH);
}

.colorI {
    color: var(--colorI);
}


/* -- border -- */
.bVer {
    border-right: 1px solid var(--colorG);
    border-left: 1px solid var(--colorG);
}

/* --- Färg Variabler --- */
:root {
    /* colors */
    --colorA: #050505;
    --colorB: #121212;
    --colorC: #353535;
    --colorD: #666666;
    --colorE: #7f7f7f;
    --colorF: #999999;
    --colorG: #e5e5e5;
    --colorH: #f4f4f4;
    --colorI: #087fe7;
    /* box shadow */
    --boxShadowA: rgba(0, 0, 0, 0.1);
    --boxShadowB: rgba(0, 0, 0, 0.2);
}